<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/purpose">Our Purpose</a></li>
        		<li><a href="/members">About the Members</a></li>
        		<li><a href="/sensors">Sensors</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cbeery@sdsu.edu">email</a></li>
        		<li><a href="http://sarbumblebees.tech/">http://sarbumblebees.tech/</a></li>
			</ul>
		</footer>
	</body>
</html>
